$primary-color: #6930c3;
$primary-color2: #b874e8;
$primary-color3: #4b27e9;
$primary-color4: #60f0a5;
$second-color: #ffff3f;

$correct-color: #007f5f;
$wrong-color: #d90429;
$instruction-color: #ba2392;

$grey-color: #6c757d;

$box-standard-shadow: 0px 5px 10px 1px #3e1b76;
$box-score-shadow: 0px 5px 10px 1px #a3af37;
$box-instruction-shadow: 0px 5px 10px 1px #77195e;
$box-time-shadow: 0px 5px 10px 1px #60f0a5;

$little-padding: 15px;
