* {
  box-sizing: border-box;
  font-family: $font-standard;
  font-weight: 500;
}

html {
  height: 100%;
  -moz-background: radial-gradient(circle, #fff, #ccc);
  -o-background: radial-gradient(circle, #fff, #ccc);
  -webkit-background: radial-gradient(circle, #fff, #ccc);
  background: radial-gradient(circle, #fff, #ccc);
}
